* {
    box-sizing: border-box;
}


/* Basic HTML elements */
body {
    background: #222222;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 24px;
    pointer-events: none;;
}

a {
    text-decoration: none;
}

p {
    pointer-events: none;
}

/* Dice Areas */
.area {
    /* display: flex; */
    border: 1px cyan solid;
    margin: 25px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-child {
    flex: 1;
    height: auto;
}

/* .flex-child:before {
    content: '';
    display: block;
    padding-top: 100%;
} */

#play-area {
    background: black;
    flex: 2; 
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}


#held-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: black;
    border: 4px solid orange;
    margin-left:10%;
    width: 80%;
    /* height: 100%; */
    height:300px;
}


/* Dice DIVS */
.die {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 75px; 
    border: solid 1px red;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-weight: bold;
    font-size:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    cursor: default;
}

.die:hover {
    border: 3px white solid;
    cursor: grab;
}

.die:active {
    background: rgba(255, 255, 255, 0.4);
}


.die .face-value {
    color: white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
/* pointer-events: none; */
    
}

.die .point-value {
    color: white;
    font-size: 20px;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    /* pointer-events: none; */
    
}

.die:hover {
    border: orange solid 1px;
}

.scoring-solo:hover, .scoring-group:hover, .scoring-straight:hover {
    border: 4px solid white;
}

.scoring-solo:active, .scoring-group:active, .scoring-straight:active {
    background: white;
}

.scoring-solo {
    background: blue;
    /* border: 2px solid blue; */
}

.scoring-group {
    background: orange;
    /* border: 2px solid blue; */
}

.scoring-straight {
    background: purple;
}

.no-click {
    pointer-events: none;
}


/* Text */
#score {
/* display: inline; */
float: right;
color: chartreuse;
}

#label-score {
    /* display:block;
    position: absolute;
    bottom: 85px;
    right: 50px; */
}

#computer-score {
    display: inline;
    float:left;
    color:red;
}

#label-computer-score {
    /* display:block;
    position: absolute;
    bottom: 40px;
    right: 50px;
    color:red; */
}

#round {
    /* display:block;
    position: absolute;
    bottom: 0px;
    left: 300px; */
    font-size: 48px;
}

#label-round {
    /* display:block;
    position: absolute;
    bottom: 75px;
    left: 250px; */
}

#message {
    color:white;
    font-size: 24px;
    text-align: center;
}



/* Buttons  */
a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    border: 3px orange solid;
    font-size: 20px;
    text-decoration: none;
    color: orange;
    cursor: default;

}

a.button:hover {
    border: 3px white solid;
    color: white;
}

a.button:active {
    background: white;
}


#button-end {
    width: 150px;
    height: 75px;
    left: 0;
    position: relative;
}

#button-roll {
    width: 200px;
    height:200px;
    left: 950px;
    top: 610px;
    position: absolute;
    text-transform: uppercase;
    font-size: 30px;
    border-radius: 50%;


}


.disabled {
    visibility: hidden;
    /* color: gray;
    background: gray;
    pointer-events: none;
    border: gray dashed 1px; */
}



/* Console colors and styling */
.red {
    color: red;
}

.red-bold {
    color:red;
    font-weight: bold;
}

.bg-red {
    background: red;
    color: white;
}

.bg-green {
    background: chartreuse;
    color: black;
}

.green {
    color: chartreuse;
}

.black {
    color: black;
}

.cyan {
    color: cyan;
}

.gray {
    color: gray;
}

#console-container {
    /* display: none; */
    width: 100%;
    height:100%;
    padding: 20px;
    overflow-y: scroll;
    
}

#console-container::-webkit-scrollbar {
    width: 1em;
  }

.console-line {
    display: block;
    width: 95%;
    margin:2px;
}

/* Grid */
/* I used https://grid.layoutit.com/ to generate this */
.grid-container {
    height: 97vh;
    display: grid;
    grid-template-columns: 0.8fr 2.8fr;
    grid-template-rows: 0.4fr 3.3fr 1.5fr 1.6fr 0.6fr;
    gap: 0px 0px;
    grid-template-areas:
      "topLeft header"
      "heldArea playArea"
      "roundInfo playArea"
      "console playArea"
      "console footer";
  }
 
  .heldArea { grid-area: heldArea; border: 1px solid transparent˜;}
  .roundInfo { 
      display: flex;
      /* flex-direction: ; */
      grid-area: roundInfo; 
      border: 1px solid transparent;
    }
  .playArea { 
      grid-area: playArea; 
      border: 1px solid cyan;
    
    }
  .console { grid-area: console; border: 1px solid transparent;}
  .footer { grid-area: footer; border: 1px solid transparent;}
  .header { grid-area: header; border: 1px solid transparent;}
  .topLeft { grid-area: topLeft; border: 1px solid transparent;}



  /* sub-grid for Round Info section */
  /* .grid-round {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "labelRound buttonEnd"
      "round buttonEnd";
  }
  .buttonEnd { grid-area: buttonEnd; }
  .roundLabel { grid-area: roundLabel; }
  .roundScore { grid-area: roundScore; } */