* {
    box-sizing: border-box;
}




/* Basic HTML elements */
body {
    background: #222222;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 48px;
}

a {
    text-decoration: none;
}




/* Text */

#score {
    display:block;
    position: absolute;
    top: 10px;
    right: 100px;
}

#round {
    display:block;
    position: absolute;
    bottom: 10px;
    left: 450px;
}





/* Dice Areas */
.area {
    display: flex;
    border: 1px cyan solid;
    height: 80vh;
    margin: 25px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-child {
    flex: 1;
    height: auto;
}

/* .flex-child:before {
    content: '';
    display: block;
    padding-top: 100%;
} */

#play-area {
    flex: 2;
}


#held-area {
    flex: 1;
    border: 4px solid orange;
}


/* Dice DIVS */
.die {
    display: block;
    height: 150px;
    width: 150px; 
    border: solid 1px red;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.die:hover {
    border: orange solid 1px;
}

.scoring {
    background: blue;
    /* border: 2px solid blue; */
}

.scoring-group {
    background: orange;
    /* border: 2px solid blue; */
}

/* Buttons  */

a.button {
    position: absolute;
    width: 100px;
    height: 50px;
    border: 4px orange solid;
    text-align: center;
    text-decoration: none;
    color: orange;
    cursor: default;
}

a.button:hover {
    border: 2px white solid;
    background: #333333;
}

#button-roll {
    bottom: 40px;
    right: 20px;
}

#button-end {
    bottom: 40px;
    left: 40px; 
}

.disabled {
    visibility: hidden;
    color: gray;
    background: gray;
    pointer-events: none;
    border: gray dashed 1px;
}