* {
    box-sizing: border-box;
}

/* Basic HTML elements */
html, body {
    background: #333333; 
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    /* Disallow text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h1 {
    font-size: 24px;
    pointer-events: none;;
}

a {
    text-decoration: none;
}

p {
    pointer-events: none;
}

/* Dice Areas */
.area {
    /* display: flex; */
    border: 1px cyan solid;
    margin: 25px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-child {
    flex: 1;
    height: auto;
}

/* .flex-child:before {
    content: '';
    display: block;
    padding-top: 100%;
} */

#play-area {
    width:100%;
    height:100%;
    background: black;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}


#held-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background: black;
    width: 100%;
    height:100%;
    padding: 20px;
    border: orange 1px solid;
}

.absolute {
    position: absolute;
}


/* Dice DIVS */
.die {
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 90px; 
    border: solid 1px gray;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-weight: bold;
    font-size:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    border-radius: 15%;
}

.die .face-value {
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    pointer-events: none;
    
}

.die .point-value {
    color: white;
    font-size: 16px;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    pointer-events: none;
    
}

.die:hover {
    border: red solid 1px;
}

.scoring {
    cursor: grab; 
}

.scoring:active {
    background: white;
    cursor: grabbing;
}

.scoring:hover {
    border: 4px solid white;
}

.scoring-solo {
    /* background: blue; */
    border: 4px solid blue;
}

.scoring-group {
    /* background: orange; */
    border: 4px solid orange;
}

.scoring-straight {
    /* background: purple; */
    border: 4px solid purple;
}

.no-click {
    pointer-events: none;
}




/* CSS Dice w/ Dots */
 /* https://betterprogramming.pub/creating-dice-in-flexbox-in-css-a02a5d85e516 */
.dot {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color:white;
}

.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dice {
    padding: 4px;
    background-color: tomato;
    width: 104px;
    height: 104px;
    border-radius: 10%;
    margin-right : 10px;
  }
.second-face {
    display: flex;
    justify-content: space-between;
}
  
  .second-face .dot:nth-of-type(2) {
    align-self: flex-end;
}
  
  .third-face {
    display: flex;
    justify-content: space-between;
}
  
  .third-face .dot:nth-of-type(1) {
    align-self :flex-end;
}
  
  .third-face .dot:nth-of-type(2) {
    align-self :center;
}
  
  
.fourth-face , .sixth-face, .fifth-face{
    display: flex;
    justify-content: space-between;
}

.fourth-face .column , .sixth-face .column, .fifth-face .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
    justify-content: center;
}






















/* Text */
#score {
/* display: inline; */
float: right;
color: chartreuse;
}

#label-score {
    /* display:block;
    position: absolute;
    bottom: 85px;
    right: 50px; */
}

#computer-score {
    display: inline;
    float:left;
    color:red;
}

#label-computer-score {
    /* display:block;
    position: absolute;
    bottom: 40px;
    right: 50px;
    color:red; */
}

#round {
    font-size:36px;
}

#label-round {
    /* display:block;
    position: absolute;
    bottom: 75px;
    left: 250px; */
}

#message {
    color:white;
    font-size: 24px;
    text-align: center;
}



/* Buttons  */
a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    border: 3px orange solid;
    font-size: 20px;
    text-decoration: none;
    color: orange;
    cursor: default;
    text-transform: uppercase;

}

a.button:hover {
    border: 3px white solid;
    color: white;
}

a.button:active {
    background: white;
}


#button-end {
    width: 100%;
    height: 100%;
}

#button-roll {

    bottom: 0px;
    width: 200px;
    height: 200px;
    font-size: 30px;
    border-radius: 50%;
}

#button-roll:hover {
    border:10px cyan solid;
    box-shadow: inset;
    cursor: pointer;
}


.disabled {
    visibility: hidden;
    /* color: gray;
    background: gray;
    pointer-events: none;
    border: gray dashed 1px; */
}

/* Drag & Drop */

.snap-target { 
    width: 90px; 
    height: 90px; 
    border: solid 1px blue; 
}

/* #drag-containment-wrapper {} */

.hover { border: 5px dashed magenta; background: chartreuse;}

.droppable {
    border: solid 2px yellow;
}

/* .droppable:hover,.droppable.hover{
 background-color: rgba(255, 0, 119, 1); */


/* Console colors and styling */
.red {
    color: red;
}

.red-bold {
    color:red;
    font-weight: bold;
}

.bg-red {
    background: red;
    color: white;
}

.bg-green {
    background: chartreuse;
    color: black;
}

.green {
    color: chartreuse;
}

.black {
    color: black;
}

.cyan {
    color: cyan;
}

.gray {
    color: gray;
}

#console-container {
    /* display: none; */
    width: 100%;
    height:200px;
    padding: 20px;
    margin-top:20px;
    overflow-y: scroll;
    
}

#console-container::-webkit-scrollbar {
    width: 1em;
  }

.console-line {
    display: block;
    width: 95%;
    margin:2px;
}

.border-cyan {
    border: 1px solid cyan;
}


/* display: flex; justify-content: center; align-items: center;  */


/* Grid */
/* I used https://grid.layoutit.com/ to generate this */
  .grid-container {
    height: 97vh;
    display: grid;
    grid-template-columns: 0.1fr 1.2fr 3.1fr 1.3fr 0.1fr;
    grid-template-rows: 0.1fr 0.9fr 2.9fr 0.5fr 3.2fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . . ."
      ". scoreBoard scoreBoard heldArea ."
      ". . playArea heldArea ."
      ". . playArea roundInfo ."
      ". rollButton playArea console ."
      ". . . . .";
  }
  
  .scoreBoard { grid-area: scoreBoard; }
  
  .heldArea { grid-area: heldArea;display: flex; justify-content: center; align-items: center;  }
  
  .roundInfo { grid-area: roundInfo; display: flex; justify-content: center; align-items: center; }
  
  .console { grid-area: console; }
  
  .rollButton { grid-area: rollButton; display: flex; justify-content: center; align-items: center; }
  
  .playArea { grid-area: playArea; }
